/.metadata/
/.recommenders/
**/.vscode/
**/.settings/
**/.mvn/
/eclipse/
/hadoop-2.8.5-src/
/ImageHelper/
/tutorial/
/jHipsterUi/
/Workflowinput/
test
jee-2020-06
eclipse
avro-schema-editor-master
Kafdrop-master
*.keytab
*.jar
*.ppk
*.jpg
*.log
*.zip
*.gz


prod.properties
target
.project
.classpath

*.icc
/WorkFlow/ansible/tmp.txt
/WorkFlow/ansible/tools/hbase/Valse viennoise.txt
*.springBeans
env.template
