[Unit]
Description=Node Exporter
After=network.target
 
[Service]
User=nodeexporter
Group=nogroup
Type=simple
ExecStart=/home/nodeexporter/latest/node_exporter
 
[Install]
WantedBy=multi-user.target