[Unit]
Description=process Exporter
After=network.target
 
[Service]
User=root
Type=simple
ExecStart=/home/processexporter/latest/process-exporter -config.path /home/processexporter/latest/config_process_exporter.yml
 
[Install]
WantedBy=multi-user.target