[Unit]
Description=High-available, distributed message broker
After=network.target data.mount

[Service]
User=kafka
ExecStart=/opt/kafka/latest/bin/run.sh
ExecStop=/opt/kafka/latest/bin/kafka-server-stop.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kafka
Restart=always
TimeoutSec=900

[Install]
WantedBy=multi-user.target