[Unit]
Description=High-available, distributed message broker
After=network.target
[Service]
User=kafka
ExecStart=/opt/kafka/latest/bin/kafka-server-start.sh /opt/kafka/latest/config/server.properties
ExecStop=/opt/kafka/latest/bin/kafka-server-stop.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kafka

[Install]
WantedBy=multi-user.target