- hosts: 192.168.1.206
  become: true
  tasks:
    - debug:
        msg: create kerberos
    - name: del princip storm@GS.COM
      shell: kadmin.local -q 'delprinc -force  storm@GS.COM' 
    - name: del princip
      shell: kadmin.local -q 'delprinc -force  nimbus/{{ item }}@GS.COM' 
      loop:
        - ipc0
        - ipc1
    - name: del princip
      shell: kadmin.local -q 'delprinc -force  storm/{{ item }}@GS.COM' 
      loop:
        - ipc0
        - ipc1
        - ipc2
        - ipc3
        - ipc5
        - ipc6     
    - name: ADd princip
      shell: kadmin.local -q 'addprinc  -pw storm storm/{{ item }}@GS.COM' 
      loop:
        - ipc0
        - ipc1
        - ipc2
        - ipc3
        - ipc5
        - ipc6     

    - name: add princip storm
      shell: kadmin.local -q 'addprinc  -pw storm storm@GS.COM' 
    - name: add princip nimbus
      shell: kadmin.local -q 'addprinc  -pw nimbus nimbus/{{ item }}@GS.COM' 
      loop:
        - ipc0
        - ipc1
    - name: rm keytab
      shell: rm -f /home/user/keytabs/storm_all.keytab
      
    - name: create keytab storm -1
      shell: kadmin.local -q 'ktadd -k /home/user/keytabs/storm_all.keytab -e aes256-cts-hmac-sha1-96:normal,aes128-cts-hmac-sha1-96:normal,arcfour-hmac-md5:normal storm@GS.COM'
    - name: create keytab
      shell: kadmin.local -q 'ktadd -k /home/user/keytabs/storm_all.keytab -e aes256-cts-hmac-sha1-96:normal,aes128-cts-hmac-sha1-96:normal,arcfour-hmac-md5:normal nimbus/{{ item }}@GS.COM'
      loop:
        - ipc0
        - ipc1
    - name: create keytab
      shell: kadmin.local -q 'ktadd -k /home/user/keytabs/storm_all.keytab -e aes256-cts-hmac-sha1-96:normal,aes128-cts-hmac-sha1-96:normal,arcfour-hmac-md5:normal  storm/{{ item }}@GS.COM'
      loop:
        - ipc0
        - ipc1
        - ipc2
        - ipc3
        - ipc5
        - ipc6
    - name: get keytab storm@GS.COM
      fetch:
        src: /home/user/keytabs/storm_all.keytab
        dest: ./tools/storm/storm.keytab
        flat: yes

  vars:
    ansible_become_pass: granada01
    PWD: "{{ lookup('env', 'PWD') }}"
