---
- hosts: all
  gather_facts: no
  become: true
  tasks:
    - debug:
        msg: "demarrage {{ PWD }}"
    - name: current_working_directory
      shell: pwd
      register: current_working_directory
    - name: load
      include_vars:
        file: "{{ PWD }}/prod.properties"
    - name: Kill running processes
      shell: systemctl stop {{user_to_create}}_appli.service
      async: 5
      poll: 0
    - name: clean stream-dir if exists
      file:
        path: ~{{ user_to_create }}/stream-dir
        state: absent
      ignore_errors: yes
      async: 5
      poll: 0
    - name: clean log
      archive:
        path: ~{{ user_to_create }}/logs/*.log
        dest: ~{{ user_to_create }}/logs/{{ user_to_create }}.tar.bz2
        remove: True
      ignore_errors: yes
      async: 5
      poll: 0
    - name: build config file from template
      vars:
          host_id: "{{ ids[inventory_hostname].value }}"
      template:
        src: ../src/main/resources/application.properties.template
        dest: ~{{ user_to_create }}/config/application.properties
        owner: "{{ user_to_create }}"
        mode: 0666
    - name: copy prometheus template
      copy:
        src: ../lib/jmx_prometheus_javaagent-0.12.0.jar
        dest: ~{{ user_to_create }}/lib/jmx_prometheus_javaagent-0.12.0.jar
        owner: "{{ user_to_create }}"
        mode: 0644
    - name: build config prometheus file from template
      template:
        src: ../config/config_prometheus.yml.template
        dest: ~{{ user_to_create }}/config/config_prometheus.yml
        owner: "{{ user_to_create }}"
        mode: 0644
    - name: build run.sh file from template
      template:
        src: ../bin/run.sh.template
        dest: ~{{ user_to_create }}/bin/run.sh
        owner: "{{ user_to_create }}"
        mode: 0744
    - name: build stop.sh file from template
      template:
        src: ../bin/stop.sh.template
        dest: ~{{ user_to_create }}/bin/stop.sh
        owner: "{{ user_to_create }}"
        mode: 0744
    - name: build debug.sh from template
      template:
        src: ../bin/debug.sh.template
        dest: ~{{ user_to_create }}/bin/debug.sh
        owner: "{{ user_to_create }}"
        mode: 0744
    - name: build log4j from template
      template:
        src: ../config/log4j.xml.template
        dest: ~{{ user_to_create }}/config/log4j.xml
        owner: "{{ user_to_create }}"
        mode: 0744
    - name: Deploy jaas file
      template:
        src: ../config/client_jaas.conf.template
        dest: ~{{ user_to_create }}/config/client_jaas.conf
        owner: "{{ user_to_create }}"
        mode: 0744
    - name: Deploy key tab file
      copy:
        src: ../../WorkFlow/ansible/tools/application/keytabs/{{ user_to_create }}.keytab
        dest: ~{{ user_to_create }}/config/{{ user_to_create }}.keytab
        owner: "{{ user_to_create }}"
        mode: 0600
    - name: Deploy cluster-client.xml
      copy:
        src: ../../WorkFlow/ansible/tools/ignite/cluster-client.xml
        dest: ~{{ user_to_create }}/config/cluster-client.xml
        owner: "{{ user_to_create }}"
        mode: 0644
    - name: Deploy {{user_to_create }}_appli.service  file
      template:
        src: ../bin/application.service.template
        dest: /etc/systemd/system/{{user_to_create }}_appli.service
        owner: "{{ user_to_create }}"
        mode: 0744
    - name: reload daemon
      shell: systemctl  daemon-reload    
      async: 5
      poll: 0
    - name: enable {{user_to_create }}_appli.service
      shell: systemctl enable {{user_to_create }}_appli.service
      async: 5
      poll: 0
    - name: Copy jars
      copy:
        src: "{{ PWD }}/../target/{{ jar_name }}"
        dest: ~{{ user_to_create }}/lib

  vars:
    ansible_become_pass: granada01
    PWD: "{{ lookup('env', 'PWD') }}"
    ids:
      192.168.1.200:
        value: 1
      192.168.1.201:
        value: 2
      192.168.1.202:
        value: 3
      192.168.1.203:
        value: 4
      192.168.1.205:
        value: 5
      192.168.1.206:
        value: 6
  