---
- hosts: all
  become: true
  tasks:
    - debug:
        msg: "demarrage {{ PWD }}"
    - name: current_working_directory
      shell: pwd
      register: current_working_directory
    - name: purge duplicate
      shell: "rm -rf /home/wf_dupcheck/stream-dir"
    - name: purge kafka
      shell: "rm -rf /var/lib/kafka/data ; mkdir /var/lib/kafka/data ; chmod 777 /var/lib/kafka/data ; chown -R kafka:nogroup /var/lib/kafka/data"
    - name: Purge zookeeper
      shell: "rm -rf /var/lib/zookeeper; mkdir /var/lib/zookeeper; chown -R zookeeper:zookeeper /var/lib/zookeeper ; chmod 777 /var/lib/zookeeper"
      loop: "{{ lookup('dict', ids) }}"
      when:  inventory_hostname == item.value.key
    - name: Purge local cache
      shell: "rm -rf /localcache/*"
    - name: Set Zookeeper Id
      shell: "echo {{ item.value.value }} > /var/lib/zookeeper/myid; chown -R zookeeper:zookeeper /var/lib/zookeeper/myid"
      loop: "{{ lookup('dict', ids) }}"
      when:  inventory_hostname == item.value.key
  vars:
    ansible_become_pass: granada01
    PWD: "{{ lookup('env', 'PWD') }}"
    ids:
      item_1:
        key: "192.168.1.200"
        value: 1
      item_2:
        key: "192.168.1.201"
        value: 2
      item_3:
        key: "192.168.1.202"
        value: 3
