---
- hosts: all
  become: true
  tasks:
    - name: Stop appli
      shell: systemctl stop {{item}}_appli.service
      when: inventory_hostname in groups[item]
      with_items: "{{ applis }}"
    - name: Start appli
      shell: systemctl start {{item}}_appli.service
      when: inventory_hostname in groups[item]
      with_items: "{{ applis }}"
    - name: Restart storm
      shell: /home/wf_storm/bin/run.sh
      when: inventory_hostname in groups['wf_storm']
  vars:
    ansible_become_pass: granada01
    PWD: "{{ lookup('env', 'PWD') }}"
    applis:
      wf_hbase:
      wf_archive:
      wf_copy_files:
      wf_cmp_hashkey:
      wf_dupcheck:
      wf_ext_img_infos:
      wf_proc_and_publish_exif_data:
      wf_proc_and_publish_photo:
      wf_scan:
