KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/home/{{user_to_create}}/config/{{user_to_create}}.keytab"
    principal="{{ user_to_create}}@GS.COM";
}; 

Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/home/{{user_to_create}}/config/{{user_to_create}}.keytab"
    principal="{{ user_to_create}}@GS.COM";
};